<div>
    {% for image in product.images %}
        {{ image | image_url: width: 300 | img_tag }}
    {% endfor %}
    <h2> Title: {{ product.title }} </h2>
    <h3> Price: {{ product.price }} </h3>
    {% for option in product.options %}
        Product Options: {{ option }} <br>
    {% endfor %}
</div>