/* Grid Layout (2 cards side by side) */
.card--3rows {
	display: grid;
  	grid-template-areas:
      "card1 card2";
  	grid-template-columns: min-content min-content;
  	margin: 24px 0;
  	column-gap: 24px;
}

.card1 {
	grid-area: card1;
}

.card2 {
	grid-area: card2;
}

/* Card Style and Grid Layout */
.card {
	display: grid;
  	grid-template-areas:
      "header"
      "body"
      "footer";
  	height: fit-content;
	width: 370px;
  	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%); 
}

/* Left & Right Padding: header, body, footer */
.card-header, .card-body, .card-footer {
	padding-left: 16px;
  	padding-right: 16px;
}

/* Header Styling */
.card-header {
	grid-area: header;
  	background-color: rgba(47, 79, 79, 0.5);
	padding-top: 4px;
  	padding-bottom: 4px;
}

.card-header h3 {
	font-family: Assistant, sans-serif; 
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.45rem;
	letter-spacing: .15rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Body Styling */
.card-body {
	grid-area: body;
  	background-color: #ffffff;
  	padding-top: 14px;
  	padding-bottom: 14px;
	display: grid;
	grid-template-areas:
		"subtitle"
		"large-text";
}

p.card-body-subtitle {
	grid-area: subtitle;
  	text-transform: uppercase;
	font-size: 1.05rem;
	letter-spacing: 0.1rem; 
	font-weight: 300;
    margin-bottom: -4px;
    margin-top: 0;
}

p.large-body-text {
	grid-area: large-text;
  	font-size: 1.75rem;
	font-weight: 500;
	color: #666666;
	margin: 0;
}

/* Footer Styling */
.card-footer {
	grid-area: footer;
  	background-color: rgba(47, 79, 79, 0.15);
  	padding-top: 4px;
  	padding-bottom: 4px;
}

.card-footer p {
	font-size: 1.21rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
  	color: #555;
	margin-top: 4px;
    margin-bottom: 4px;
}