/* Form Grid (copy/paste and add new areas as needed in the liquid page template) */
.custom--form {
	display: grid;
	grid-template-areas:
		"title"
		"first"
		"last"
		"email"
      	"order"
		"radio"
		"message"
		"submit";	
	row-gap: 20px;
	margin-top: 30px;	
}

/* Grid Areas */
.first-name {
	grid-area: first;
}

.last-name {
	grid-area: last;
}

.customer-email {
	grid-area: email;
}

.order-number {
	grid-area: order;
}

.radio-options {
	grid-area: radio;
	display: grid;
	grid-template-areas: 
		"title"
		"radio1"
		"radio2";
}

.radio-options-title {
	grid-area: title;
}

.radio-option-1 {
	grid-area: radio1;
}

.radio-option-2 {
	grid-area: radio2;
}

.message {
	grid-area: message;
}

.submit {
	grid-area: submit;
}

/* Title of form */
.form-title {
	grid-area: title;
	margin-top: 0;
	margin-bottom: 0;
  	color: #333;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
}

/* Label Styles (excl radio buttons) */
.custom--form label:not(.radio-label) {
	display: block;
	font-family: 'Assistant', sans-serif;
	font-size: 1.28rem;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 4px;
	color: #666;
	line-height: 2rem;
}

/* Radio button label style */
.radio-label {
	font-family: 'Assistant', sans-serif;
	font-size: 1.45rem;
}

/* Label asterisk for inputs with "required" class */
.custom--form label.required:after {
	content: " *";
	font-size: 2rem;
	vertical-align: middle;
	color: #cc9a9b;
}

/* Input styling: text, email, number, textarea */
.custom--form input[type=text], .custom--form input[type=email], .custom--form input[type=number], .custom--form textarea {
	width: 400px;
    border-top: 1px solid rgba(47, 79, 79, 0.15);
    border-left: 1px solid rgba(47, 79, 79, 0.15);
    border-right: 1px solid rgba(47, 79, 79, 0.15);
    border-bottom: 2px solid rgba(47, 79, 79, 0.15);
    box-sizing: border-box;
    padding: 9px 12px;
	font-size: 1.45rem;
	font-family: 'Assistant', sans-serif;
}

/* Input focus styling: text, email, number, textarea */
.custom--form input[type=text]:focus, .custom--form input[type=email]:focus, .custom--form input[type=number]:focus, .custom--form textarea:focus {
	outline: none;
	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%);
	border-bottom: 2px solid rgba(47, 79, 79, 0.5);
	transition: 0.2s ease-in;	
}

/* Input hover styling: text, email, number, textarea */
.custom--form input[type=text]:hover, .custom--form input[type=email]:hover, .custom--form input[type=number]:hover, .custom--form textarea:hover {
	outline: none;
	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%);
	transition: 0.2s ease-in;	
}

/* Input accent color: radios */
.custom--form input[type=radio] {
	accent-color: #c26b76;
}

/* Radio input & label hover cursor */
.custom--form input[type=radio]:hover, .radio-label:hover {
	cursor: pointer;
}

/* Message instructions */
.message p {
	margin-top: 0px;
    margin-bottom: 4px;
    font-size: 1.45rem;
    color: #888;
}

/* Textarea size */
textarea {
	height: 100px;
}

/* Submit button styling */
.submit-button {
  	/*color: rgba(47, 79, 79, 0.8);*/
  	color: #fff;
  	font-weight: 600;
  	font-size: 1.4rem;
  	text-decoration: none;
  	text-transform: uppercase;
  	box-sizing: border-box;
	/*background-color: transparent;*/
  	background-color: rgba(47, 79, 79, 0.8);
  	border: none;
  	/*border-color: rgba(47, 79, 79, 0.8);*/
  	padding: 12px 20px;
    letter-spacing: inherit;
	margin-top: 0px;
    margin-bottom: 30px;
  	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%);
}

/* Hover submit button styling */
.submit-button:hover {
  	/*background-color: rgba(47, 79, 79, 0.8);
  	border-color: transparent;
  	color: #fff;*/
  	background-color: #3b7d77;
  	background-color: #4ea59d;
}