.material-14k.Gold.Filled {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(238, 224, 177);
    list-style-type: none;
}

.material-14k.Rose.Gold.Filled {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(246, 220, 211);
    list-style-type: none;
}

.material-Sterling.Silver {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(226, 229, 230); 
    list-style-type: none;
}

.length {
    width: 60px;
    height: auto;
    list-style-type: none;
    border: 1px solid #666;
}