.wrapper--info-content {
	display: grid;
  	grid-template-areas: 
      "sidebar info";
}

.sidebar--navigation-links {
  grid-area: sidebar;
	width: 100px;
  position: fixed;
}

.sidebar--navigation-links a {
	text-decoration: none;
  display: block;
}
