body {
	font-family: Assistant, sans-serif;
}

h2 {
	font-family: Assistant, sans-serif;
  	font-size: 1.4rem;
  	font-weight: 600;
  	text-transform: uppercase;
  	margin-top: 40px;
  	margin-bottom: 15px;
}

/* Page Grid Layout */
.wrapper--sidebar-info {
	display: grid;
  	grid-template-areas: 
      "sidebar info";
  	grid-template-columns: 1fr 3fr;
  	margin-top: 40px;
}

/* Sidebar Grid Area & Styling */
.sidebar--navigation-links {
  	grid-area: sidebar;
    margin-left: 47px;
    margin-top: 0;
  	overflow-x: hidden;
  	width: auto;
}

/* Sidebar position */
.sidebar {
  	position: absolute;
  	top: 0;
  	left: 0;
  	overflow: hidden;
  	transform: translateX(-100%);
  	transition: transform 275ms ease;
}

/* Sidebar links styling */
.sidebar--navigation-links a {
  	color: #999;
  	display: inline-block;
  	font-size: 1.5rem;
  	line-height: 3.25rem;
  	padding-left: 5px;
  	position: relative;
  	text-decoration: none;
}

/* Sidebar links hover */
.sidebar--navigation-links a:hover {
  	color: #333;
  	transform: scale(1.08);
}

/* Main-Accordion Grid Area & Styling */
.main--accordion-info {
  grid-area: info;
}

/* Page Heading */
.heading--info {
	margin-top: 0;
}

/* Accordion Container & Position */
.accordion--menu .container {
	position: relative;
}

.accordion--menu {
	margin: auto;
  	padding-right: 100px;
}

/* Accordion Labels */
.accordion--menu .label {
	position: relative;
  	cursor: pointer;
}

.accordion--menu label p {
	font-size: 1.45rem;
  	font-weight: 500;
  	margin-bottom: 4px;
}

.accordion--menu .label:hover {
	color: #333;
}

.accordion--menu .label::before {
	content: '+';
  position: absolute;
  right: 0px;
  font-size: 2.25rem;
  font-weight: 300;
  color: #666666;
  bottom: -8px;
}

.accordion--menu .container.active .label::before {
	content: '-';
  	font-size: 2.5rem;
  	color: #666666;
  	font-weight: 300;
  	right: 0px;
}


/* Accordion Content */
.accordion--menu .content {
  	font-size: 1.35rem;
  	font-weight: 300;
	position: relative;
  	max-height: 0;
  	overflow: hidden;
  	margin-bottom: 15px;
  	transition: max-height 0.5s ease;
}

.accordion--menu .container.active .content {
	max-height: 1200px;
  	transition: max-height 0.9s ease-in;
}

.accordion--menu .content .p {
	font-size: 1.35rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 300;
}




/* Accordion HR */
.accordion--menu hr {
	margin-top: 0px;
  	margin-bottom: 8px;
}



.bold-text {
	font-weight: 600;
}

.content a {
	font-weight: 600;
  	color: #CC9A9B;
}

.content a:hover {
	color: #C26B76;
}

.button--link {
  	margin: 24px auto 20px;
  	text-align: left;
}

.button--link a, .button--ring-size p {
  	color: rgba(47, 79, 79, 0.8);
  	font-weight: 600;
  	font-size: 1.2rem;
  	text-decoration: none;
  	text-transform: uppercase;
  	box-sizing: border-box;
	background-color: transparent;
  	border: 1px solid;
  	border-color: rgba(47, 79, 79, 0.8);
  	padding: 8px 12px;
}

.button--link a:hover {
  	background-color: rgba(47, 79, 79, 0.8);
  	border-color: transparent;
  	color: #fff;
}

.button--ring-size p:hover, .button--ring-size p:active {
  	cursor: pointer;
	background-color: rgba(47, 79, 79, 0.8);
  	border-color: transparent;
  	color: #fff;
}