.wrapper--sidebar-info {
	display: grid;
  	grid-template-areas: 
      "sidebar info";
  grid-template-columns: 1fr 3fr;
}

.sidebar--navigation-links {
  grid-area: sidebar;
  overflow-x: hidden;
  padding-left: 32px;
    margin-left: 20px;
    margin-top: 35px;
}

.sidebar--navigation-links a {
	text-decoration: none;
  display: block;
}

.main--accordion-info {
  grid-area: info;
}

.heading--info {
	margin-top: 35px;
}

.accordion--menu hr {
	margin-top: 10px;
  	margin-bottom: 10px;
}

.accordion--menu {
	margin: auto;
  	padding-right: 52px;
}

.accordion--menu .container {
	position: relative;
}

.accordion--menu .label {
	position: relative;
  cursor: pointer;
}

.accordion--menu .label::before {
	content: '+';
  position: absolute;
  right: 0px;
  font-size: 1.75rem;
}

.accordion--menu .content {
	position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  
}

.accordion--menu .container.active .content {
	height: auto;
}

.accordion--menu .container.active .label::before {
	content: '-';
  	font-size: 1.75rem;
}