{{ 'page-info.css' | asset_url | stylesheet_tag }}
{{ 'shipping-tables.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<!-- SIDEBAR NAVIGATION -->
<div class="wrapper--sidebar-info">
  <div class="sidebar--navigation-links">
    <a href="https://abbey-park-dev-store.myshopify.com/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
    
    <!-- LINKS AFTER LAUNCH
    <a href="https://abbeypark.shop/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbeypark.shop/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbeypark.shop/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbeypark.shop/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbeypark.shop/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbeypark.shop/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbeypark.shop/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbeypark.shop/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbeypark.shop/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbeypark.shop/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
	-->
  </div>
  
  <!-- HEADING -->
  <div class="main--accordion-info">
    <div class="heading--info-title">
    	<h1 class="heading--info">Shipping &amp; Delivery</h1>
    </div>
    
    <!-- ACCORDION -->
    <div class="accordion--menu">
      <!-- CANADA --> 
      <div class="container">
        <div class="label">
          <p>Canada</p>
        </div>
        <hr>
        <div class="content">
          <div class="shipping-info-text">
          	<p>Shipping estimates do not include the time it takes to make your item. 
          	Be sure to add 3-5 business days to the times below to reflect that 
              processing time. All shipping options include tracking.</p>
          </div>
          <!-- SHIPPING RATES -->
          <div class="shipping-tables">
            <!-- TABLE 1 -->
          	<div class="ship-table table-1">
            	<!-- SERVICE -->
            	<div class="shipping-type">
              		Standard Shipping
            	</div>
            	<!-- DELIVERY ESTIMATE -->
            	<div class="delivery-estimate">
            		<div class="estimate-subtitle">
              			Estimated Delivery Time
            		</div>
            		<div class="business-days">
              			2-8 Business days
            		</div>
          		</div>
            	<!-- SHIPPING COST -->
            	<div class="shipping-cost">
                  	<!-- Cost Option 1 -->
              		<div class="cost-option">
                      <div class="order-total">
                			orders under $150
                      </div>
                      <div class="shipping-total">
                        	$10
                      </div>
              		</div>
                  	<!-- Cost Option 2 -->
              		<div class="cost-option">
                		<div class="order-total">
                			orders over $150
                      	</div>
                      	<div class="shipping-total">
                        	Free
                      	</div>
              		</div>
            	</div> 
          	</div>
          <!-- TABLE 2 -->  
          <div class="ship-table table-2">
             <!-- SERVICE -->
            	<div class="shipping-type">
              		Xpresspost
            	</div>
            	<!-- DELIVERY ESTIMATE -->
            	<div class="delivery-estimate">
            		<div class="estimate-subtitle">
              			Estimated Delivery Time
            		</div>
            		<div class="business-days">
              			1-3 Business days
            		</div>
          		</div>
            	<!-- SHIPPING COST -->
            	<div class="shipping-cost">
                  	<!-- Cost Option 1 -->
              		<div class="cost-option">
                      <div class="order-total">
                			Shipping Upgrade
                      </div>
                      <div class="shipping-total">
                        	$22
                      </div>
              		</div>
            	</div>
          </div>
        </div>   
      	</div>
      </div>
      
      <!-- UNITED STATES -->
      <div class="container">
        <div class="label">
          <p>United States</p>
        </div>
        <hr>
        <div class="content">
          <div class="shipping-info-text">
          	<p>Shipping estimates do not include the time it takes to make your item. 
          	Be sure to add 3-5 business days to the times below to reflect that 
              processing time. All shipping options include tracking.</p>
          </div>
          <div class="shipping-tables">
            <!-- TABLE 1 -->
          	<div class="ship-table table-1">
            	<!-- SERVICE -->
            	<div class="shipping-type">
              		Standard Shipping
            	</div>
            	<!-- DELIVERY ESTIMATE -->
            	<div class="delivery-estimate">
            		<div class="estimate-subtitle">
              			Estimated Delivery Time
            		</div>
            		<div class="business-days">
              			4-8 Business days
            		</div>
          		</div>
            	<!-- SHIPPING COST -->
            	<div class="shipping-cost">
                  	<!-- Cost Option 1 -->
              		<div class="cost-option">
                      <div class="order-total">
                			All orders
                      </div>
                      <div class="shipping-total">
                        	Free
                      </div>
              		</div>
            	</div> 
          	</div>
          <!-- TABLE 2 --> 
          <div class="ship-table table-2">
             <!-- SERVICE -->
            	<div class="shipping-type">
              		Xpresspost
            	</div>
            	<!-- DELIVERY ESTIMATE -->
            	<div class="delivery-estimate">
            		<div class="estimate-subtitle">
              			Estimated Delivery Time
            		</div>
            		<div class="business-days">
              			2-3 Business days
            		</div>
          		</div>
            	<!-- SHIPPING COST -->
            	<div class="shipping-cost">
                  	<!-- Cost Option 1 -->
              		<div class="cost-option">
                      <div class="order-total">
                			shipping upgrade
                      </div>
                      <div class="shipping-total">
                        	$22
                      </div>
              		</div>
            	</div>
          </div>
        </div>   
        </div>
      </div>
      
      <!-- INTERNATIONAL -->
      <div class="container">
        <div class="label">
          <p>International</p>
        </div>
        <hr>
        <div class="content">
          <p>
        	Shipping estimates do not include the time it takes to make your item.
          	Be sure to add 3-5 business days to the times below to reflect that 
          	processing time. All shipping options include tracking. 
          </p>
          <div class="shipping-tables">
            <!-- TABLE 1 -->
          	<div class="ship-table table-1">
            	<!-- SERVICE -->
            	<div class="shipping-type">
              		Standard Shipping
            	</div>
            	<!-- DELIVERY ESTIMATE -->
            	<div class="delivery-estimate">
            		<div class="estimate-subtitle">
              			Estimated Delivery Time
            		</div>
            		<div class="business-days">
              			7-20 Business days
            		</div>
          		</div>
            	<!-- SHIPPING COST -->
            	<div class="shipping-cost">
                  	<!-- Cost Option 1 -->
              		<div class="cost-option">
                      <div class="order-total">
                			All orders
                      </div>
                      <div class="shipping-total">
                        	$21
                      </div>
              		</div>
            	</div> 
          	</div>
      		</div>
          <p>
            <span class="bold-text">Customs:</span> International orders may be subject to customs duties or taxes. 
          	Customers are responsible for paying these charges. Rates vary depending 
          	on the country. Please contact your customs office for specific rates.
          </p>
          <p>
            <span class="bold-text">Delays:</span> On occasion, international packages are delayed due to the customs 
            process. These delays are frustrating, but are out of our control. Please 
            allow up to 6 weeks for your package to arrive in these cases.
          </p>
        </div>
    </div>
  </div>
</div>

<!-- SHOW ACCORDION CONTENT ON CLICK -->
<script>
  const accordion = document.getElementsByClassName('container');
  
  for (let i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener('click', function() {
    	this.classList.toggle('active');    
    });
  };
</script>