{{ 'page-info.css' | asset_url | stylesheet_tag }}
{{ 'custom-contact-form.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<div class="wrapper--sidebar-info">
  
  <!-- SIDEBAR NAVIGATION -->
  <div class="sidebar--navigation-links">
    <a href="https://abbey-park-dev-store.myshopify.com/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
    
     <!-- LINKS AFTER LAUNCH
    <a href="https://abbeypark.shop/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbeypark.shop/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbeypark.shop/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbeypark.shop/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbeypark.shop/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbeypark.shop/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbeypark.shop/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbeypark.shop/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbeypark.shop/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbeypark.shop/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
	-->
  </div>
  
  <!-- ACCORDION -->
  <div class="main--accordion-info">
    <div class="heading--info-title">
    	<h1 class="heading--info">Returns &amp; Exchanges</h1>
    </div>
    
    <div class="accordion--menu">
    
    	<!-- Returns Info -->
    	<p>
      		We accept returns and exchanges on all pieces&mdash;including personalized jewelry! All returned or 
      		exchanged items must be in their original unworn condition and include the packaging.
    	</p>
      
      <div class="return-tables">
        <div class="table-1">
          	<div class="table-heading">
        		<h3>US &amp; Canada</h3>
            </div>
          	<div class="return-times">
          		<p class="time-limit-heading">Time Limit</p>
          		<p class="time-limit">30 days</p>
			</div>
			<p class="return-heading">Free Returns and Exchanges</p>
          	<p class="refund-details">Refunds are processed upon return delivery.</p>
        </div>           
      
        <div class="table-2">
        	<div class="table-heading">	
          		<h3>International</h3>
            </div>
          	<div class="return-times">
          		<p class="time-limit-heading">Time Limit</p>
          		<p class="time-limit">14 days</p>
			</div>
			<p class="return-heading">Free Returns and Exchanges</p>
          	<p class="refund-details">Refunds are processed upon return delivery.</p>
        </div>     
        
      </div> 
           
      
      <!--
      -- US CANADA ORDERS --
      <div class="container">
        <div class="label">US &amp; Canada Orders</div>
        <hr>
        <div class="content">
          <p>Free returns and exchanges within 30 days of delivery. Note that any original shipping costs 
            (for rush shipping, for example) are nonrefundable and will be deducted from your total refund.</p>
        </div>
      </div>
      -- INTERNATIONAL ORDERS --
      <div class="container">
        <div class="label">International Orders</div>
        <hr>
        <div class="content">
          <p>Returns and exchanges are accepted within 30 days of delivery. Note that any original shipping 
            fees are nonrefundable and will be deducted from your total refund. International customers are 
            responsible for the cost of return shipping (as well as the cost of re-shipping, in the case of 
            an exchange).</p>
        </div>
      </div> 
      -->
      
      <!-- RETURNS & EXCHANGES FORM -->
      {% form 'contact' %}
      <div class="return-request-form custom--form">
        <!-- Form Title -->
        <h2 class="form-title">Start a Return or Exchange</h2>
        
      	<!-- First Name -->
      	<div class="first-name">
      		<label for="firstName" class="required">First Name</label>
      		<input type="text" 
                   name="firstName" 
                   id="firstName" 
                   autocomplete="on"
                   required="required">
      	</div>
        
      	<!-- Last Name -->
      	<div class="last-name">
      	<label for="lastName" class="required">Last Name</label>
      	<input type="text"
               name="lastName"
               id="lastName"
               autocomplete="on"
               required="required">
      </div>
      
      	<!-- Email -->
      	<div class="customer-email">
      	<label for="customerEmail" class="required">Email</label>
      	<input type="email"
               name="customerEmail"
               id="customerEmail"
               autocomplete="on"
               required="required">
      </div>
      
      	<!-- Order Number -->
      <div class="order-number">
      	<label for="orderNumber" class="required">Order Number</label>
      	<input type="text"
               name="orderNumber"
               id="orderNumber"
               required="required">
      </div>
      
      	<!-- Return Or Exchange -->
      <div class="return-exchange radio-options"> 
        <label for="radio-options" class="radio-options-title returnExchange required">Type of Return</label>
       
        <div class="return-radio option1-radio">
      		<input type="radio" 
                   name="returnExchange"
                   id="return" 
                   value="Return" 
                   checked="checked"> 
      		<label for="return" class="radio-label">Return</label>
        </div>
        
        <div class="exchange-radio option2-radio">
      		<input type="radio"
                   name="returnExchange"
                   id="exchange"
                   value="Exchange">
      		<label for="exchange" class="radio-label">Exchange</label>
        </div>
      </div>
      
      	<!-- Message -->
      <div class="message textarea-wrapper">
      	<label for="textarea-block" class="required">Message</label>
        <p>
          Let us know why you want to return or exchange an item.
        </p>
      	<textarea name="textarea-block"
                  id="textarea-block"
                  required="required"></textarea>
      </div>
      
      	<!-- Submit Button -->
      <div class="submit-button-wrapper">
      	<input type="submit"
               value="Submit"
               class="submit-button">
      </div>
      </div>
      
      {% endform %}
      
   </div>
      </div>
  </div>
  
</div>

<!-- SHOW ACCORDION CONTENT ON CLICK -->
<script>
  const accordionLabel = document.getElementsByClassName('label');
  
  for (let i = 0; i < accordionLabel.length; i++) {
    accordionLabel[i].addEventListener('click', function() {
    	this.parentNode.classList.toggle('active');
    });
  };
</script>

<!-- COPY/PASTE FOR EACH ACCORDION ITEM
      <div class="container">
        <div class="label">Question or topic text</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
END COPY/PASTE -->

<!--  
<div class="return-tables">
        <div class="table-1">
          <h3 class="table-heading">US &amp; Canada</h3>
          <div class="return-times"
          <p class="time-limit-heading">Time Limit</p>
          <p class="time-limit">30 days</p>
</div>
			<p class="return-heading">Free Returns and Exchanges</p>
          <p class="refund-details">Refunds are processed upon return delivery.</p>
        </div>           
      </div> 
-->

{% style %}

.custom--form {
	display: grid;
	grid-template-areas:
		"title"
		"first"
		"last"
		"email"
		"order"
		"radio"
		"textarea-block"
		"submit";	
	row-gap: 20px;
	margin-top: 30px;	
}

.order-number {
	grid-area: order;
}


.return-tables {
	display: grid;
	grid-template-areas:
		"table1 table2";
	column-gap: 30px;
}

.table-1 {
	grid-area: table1;
	display: grid;
	grid-template-areas:
		"location"
		"time-limit";
	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%);
	margin-bottom: 20px;
  	height: fit-content;
}

.table-2 {
	grid-area: table2;
	display: grid;
	grid-template-areas:
		"location"
		"time-limit";
	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%);
	margin-bottom: 20px;
  	height: fit-content;
}

.table-heading {
	grid-area: location;
	background-color: rgba(47, 79, 79, 0.5);
}

.table-heading h3 {
	font-family: Assistant, sans-serif; 
	color: white;
	padding: 4px 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.45rem;
	letter-spacing: .15rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

.return-times {
	grid-area: time-limit;
	background-color: #ffffff;
	padding: 12px 10px 8px;
	grid-area: time-limit
	display: grid;
	grid-template-areas:
		"subtitle"
		"days";
}

.return-times .time-limit-heading {
	grid-area: subtitle;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem; 
	font-family: Assistant, sans-serif;
}

.return-times .time-limit {
	grid-area: days;
	font-size: 2rem;
	font-weight: 400;
	color: #666666;
}


.shipping-tables {
	display: grid;
	grid-template-areas: 
		"table1 table2";
	justify-content: left;
	margin-top: 20px;
	column-gap: 30px;
}

.ship-table {
	display: grid;
	grid-template-areas:
		"service"
		"subtitle-estimate"
		"cost";
	width: 300px;
	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%);
	margin-bottom: 20px;
  	height: fit-content;
}

.shipping-type {
	grid-area: service;
	background-color: rgba(47, 79, 79, 0.5);
	color: white;
	padding: 4px 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.25rem;
	letter-spacing: .15rem;
}

.delivery-estimate {
	background-color: #ffffff;
	padding: 12px 10px 8px;
	grid-area: subtitle-estimate
	display: grid;
	grid-template-areas:
		"subtitle"
		"estimate";
}

.estimate-subtitle {
	grid-area: subtitle;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.15rem; 
}

.business-days {
	grid-area: estimate;
	font-size: 2rem;
	font-weight: 400;
	color: #666666;
}

.shipping-cost {
	grid-area: cost;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
  	color: #666;
	text-transform: capitalize;
	background-color: rgba(47, 79, 79, 0.15);
	padding: 8px 10px;
}

.cost-option {
	display: grid;
	grid-template-areas:
		"order-total shipping-total";
}

.order-total {
	grid-area: order-total;
}

.shipping-total {
	grid-area: shipping-total;
	justify-self: end;
	text-transform: uppercase;
}

.table-1 {
	grid-area: table1;
}

.table-2 {
	grid-area: table2;
}

{% endstyle %}