{{ 'page-info.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<div class="wrapper--sidebar-info">
  <div class="sidebar--navigation-links">
    FAQs
    Shipping
    Returns & Exchanges
    Repairs
    Custom Request
    Size Guide
    Care Guide
    Stockists
    Wholesale
    Contact Us
  </div>
  <div class="main--accordion-info">
    {{ page.content }}
  </div>
</div>