{{ 'page-info.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<div class="wrapper--sidebar-info">
  
  <!-- SIDEBAR NAVIGATION -->
  <div class="sidebar--navigation-links">
    <a href="https://abbey-park-dev-store.myshopify.com/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
    
    <!-- LINKS AFTER LAUNCH
    <a href="https://abbeypark.shop/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbeypark.shop/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbeypark.shop/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbeypark.shop/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbeypark.shop/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbeypark.shop/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbeypark.shop/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbeypark.shop/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbeypark.shop/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbeypark.shop/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
	-->
  </div>
  
  <!-- ACCORDION -->
  <div class="main--accordion-info">
    <div class="heading--info-title">
    	<h1 class="heading--info">Frequently Asked Questions</h1>
    </div>
    <div class="accordion--menu">
      <!-- ORDERS & SHIPPING --> 
      <h2>Orders &amp; Shipping</h2>
      <div class="container">
        <div class="label">
          <p>Where are you located?</p>
        </div>
        <hr>
        <div class="content">
          <p>We're a proudly Canadian shop located in Vancouver, 
            British Columbia <i class="fa-brands fa-canadian-maple-leaf"></i></p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>What payment methods do you accept?</p>
        </div>
        <hr>
        <div class="content">
          <p>We accept all of the payment methods below, so it's easy to pay however you like!</p>
          <ul>
            <li>Visa (credit and debit cards)</li>
            <li>MasterCard (credit and debit cards)</li>
            <li>American Express</li>
            <li>PayPal</li>
            <li>Apple Pay</li>
            <li>Google Pay</li>
            <li>Afterpay</li>
          </ul>
      </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>Can I cancel my order?</p>
        </div>
        <hr>
        <div class="content">
          <p>If you need to cancel your order, contact us as quickly as possible. We work hard to 
            get your items shipped as quickly as possible, so we may be unable to cancel your order 
            after 24 hours.</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>When will my order arrive?</p>
		</div>
        <hr>
        <div class="content">
          <p>Because our jewelry is handcrafted, kindly allow 3 to 5 business days for your items to 
            be made. Once shipped, you will receive an email with your tracking number. Transit times 
            vary depending on location and the selected shipping method&mdash;check our 
            <a href="https://abbey-park-dev-store.myshopify.com/pages/shipping-delivery">shipping options</a>
            <!-- NEW LINK AT LAUNCH
			<a href="https://abbeypark.shop/pages/shipping-delivery">shipping options</a>
			-->
            for estimated delivery times.</p>
          <p>Please note that shipping transit times do not include the time it takes to make your item. 
            Be sure to take both production time and transit time into account when ordering!</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>Where do you ship?</p>
		</div>
        <hr>
        <div class="content">
          <p>We ship worldwide (but note that there are exceptions depending on Canada Post or USPS restrictions).</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>Will I be charged import duties or VAT?</p>
		</div>
        <hr>
        <div class="content">
          <p>Orders shipped to Canada or the US will not incur import duties or taxes upon 
            delivery. International orders may be assessed customs fees or VAT at the time 
            of entry. Please understand that we are not responsible for these charges, and 
            they are the customer's responsibility to pay. Rates vary by country; check with 
            your customs office for specific rates.</p>
        </div>
      </div>
      
      <!-- RETURNS & EXCHANGES -->
      <h2>Returns &amp; Exchanges</h2>
      <div class="container">
        <div class="label">
          <p>Do you accept returns?</p>
		</div>
        <hr>
        <div class="content">
          <p>Yes! Free returns are accepted within 30 days for Canadian &amp; US orders. 
            International customers may also return items within 30 days, but the customer 
            is responsible for the cost of return shipping. All returned items should be in 
            their unworn original condition and include the packaging. Kindly note that 
            original shipping fees are nonrefundable.</p>
          <div class="button--link">
            <a href="https://abbey-park-dev-store.myshopify.com/pages/returns-exchanges">Return An Item</a>
            <!-- NEW LINK AT LAUNCH
			<a href="https://abbeypark.shop/pages/returns-exchanges">Return An Item</a>
			-->
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>Can I exchange my item?</p>
		</div>
        <hr>
        <div class="content">
          <p>Yes! Free exchanges are accepted within 30 days for all Canadian &amp; US orders. 
            International customers may also exchange items within 30 days, but the customer is 
            responsible for the cost of both return shipping and re-shipping.</p>
          <div class="button--link">
            <a href="https://abbey-park-dev-store.myshopify.com/pages/returns-exchanges">Exchange An Item</a>
            <!-- NEW LINK AT LAUNCH
			<a href="https://abbeypark.shop/pages/returns-exchanges">Exchange An Item</a>
			-->
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>When will I receive my refund?</p>
		</div>
        <hr>
        <div class="content">
          <p>Refunds are processed once we receive your return. Your original payment method will 
            be credited. Note that it may take a few business days for the refund to show in your 
            account.</p>
        </div>
      </div>
      
      <!-- WARRANTY & REPAIRS -->
      <h2>Warranty &amp; Repairs</h2>
      <div class="container">
        <div class="label">
          <p>Our 6-Month Free Repair Warranty</p>
		</div>
        <hr>
        <div class="content">
          <p>We are happy to offer free repairs for broken items purchased within the last 
            6 months. Orders placed between 6 months and 1 year ago are still eligible for 
            repair, but there may be other associated costs (such as shipping or custom stones/metals).</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>How do I request a repair?</p>
		</div>
        <hr>
        <div class="content">
          <p>It's easy! Just fill out our repair form and upload a photo of your broken item. 
            Your replacement piece will be ready within 5 to 7 business days (excluding shipping time).
          </p>
          <div class="button--link">
            <a href="https://abbey-park-dev-store.myshopify.com/pages/repairs">Repair An Item</a>
            <!-- NEW LINK AT LAUNCH
			<a href="https://abbeypark.shop/pages/repairs">Repair An Item</a>
			-->
          </div>
        </div>
      </div>
      
      <!-- CUSTOM REQUESTS -->
      <h2>Custom Requests</h2>
      <div class="container">
        <div class="label">
          <p>Can you engrave custom constellations or other designs?</p>
		</div>
        <hr>
        <div class="content">
          <p>Absolutely! We love collaborating with our clients on custom designs. Since we 
            engrave everything in our own studio, we can accommodate most custom requests. 
            There are some design limitations, such as the size of a jewelry item or the complexity 
            of a design&mdash;but we'll guide you through all that stuff. Just reach out with your idea 
            to start!
          </p>
          <div class="button--link">
            <a href="https://abbey-park-dev-store.myshopify.com/pages/custom-request">Make A Custom Item</a>
            <!-- NEW LINK AT LAUNCH
			<a href="https://abbeypark.shop/pages/custom-request">Make A Custom Item</a>
			-->
          </div>
          
        </div>
      </div>
      
      <!-- SIZING GUIDE -->
      <h2>Sizing Guide</h2>
      <div class="container">
        <div class="label">
          <p>How do I find my ring size?</p>
		</div>
        <hr>
        <div class="content">
          <p>Order an adjustable ring sizer RING SIZER LINK or use one of the options below 
            to find your ring size.</p>
          <p>OPTION 1: MEASURE YOUR RING</p>
          <p>If you have a ring that already fits your finger perfectly, measure the inner 
            diameter (mm) of the ring on a ruler. Use the chart below to find your ring size.</p>
          <p>OPTION 2: MEASURE YOUR FINGER</p>
          <p>Wrap a strip of paper snugly around your finger. Mark the overlap with a pen, then 
            lay the paper flat against a ruler to measure (mm). Use the chart below to find your 
            ring size.</p>
          <p>RING SIZING CHART</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>How do I find my bracelet size?</p>
		</div>
        <hr>
        <div class="content">
          <p>If you have a bracelet that already fits well, you can simply measure it with a 
            ruler to find the right size. Otherwise, use the tips below to find your bracelet size:</p>
          <ol>
            <li>Wrap a flexible tape measure, a piece of string, or a strip of paper around 
              your wrist so it is snug but comfortable.</li>
            <li>If using a tape measure, simply note the measurement. If using a string or 
              strip of paper, mark the point of overlap with a pen then measure the string 
              or paper strip against a ruler. This is your actual wrist size.</li>
            <li>Add 1/2" to your actual wrist size&mdash;this is your bracelet size! If you prefer a 
              tighter fit, you can add 1/4" instead. Or, if you like a loose-fitting bracelet, 
              add 3/4' to 1" to your actual wrist size.</li>
          </ol>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>Which necklace length should I choose?</p>
		</div>
        <hr>
        <div class="content">
          <p>Our goal is to be size-inclusive, which is why we offer our necklaces in different 
            lengths. You can use the chart below for a very general guideline on where each size 
            falls. Keep in mind, neck and chest size, as well as personal style preferences, are 
            going to impact your choice.</p>
          
          <img src="https://cdn.shopify.com/s/files/1/0628/1940/1982/files/Necklace_Lengths_Shopify.jpg?v=1649894695" 
               alt="Abbey Park Jewelry Necklace Length Chart"
               class="necklace-chart"
               >  
        </div>
      </div>
      
      <!-- METALS & MATERIALS -->
      <h2>Metals &amp; Materials</h2>
      <div class="container">
        <div class="label">
          <p>Is your jewelry nickel-free?</p>
		</div>
        <hr>
        <div class="content">
          <p>Yes! All of our jewelry is nickel-free.</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>What metals are used to make your jewelry?</p>
		</div>
        <hr>
        <div class="content">
          <p>We use 14K gold filled, 925 sterling silver, and 14k solid gold metals to make our 
            pieces. All metals are sourced from Canadian and US manufacturers, with a focus on 
            recycled metal whenever possible.</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>What is 14K gold filled?</p>
		</div>
        <hr>
        <div class="content">
          <p>Gold filled metals are made with a thick layer of 14K gold that is pressure-bonded to 
            an underlying core of jeweller's brass. Unlike plated metals, the outer layer of gold 
            filled jewelry will not flake off. It offers the quality and longevity of solid karat 
            gold pieces, but at a more accessible price. It's also nickel-free and hypoallergenic, 
            which makes it perfect for anybody with sensitive skin!</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>How should I care for my jewelry?</p>
		</div>
        <hr>
        <div class="content">
          <p>Most of our jewelry requires a minimal care routine. Read our 
            <a href="https://abbey-park-dev-store.myshopify.com/pages/care-guide">care instructions</a>
            <!-- NEW LINK AT LAUNCH
			<a href="https://abbeypark.shop/pages/care-guide">care instructions</a>
			-->
            for a breakdown of both basic and advanced care tips.</p>
        </div>
      </div>
      
      <!-- STOCKISTS & LOCAL PICKUP -->
      <h2>Stockists &amp; Local Pickup</h2>
      <div class="container">
        <div class="label">
          <p>Do you have a storefront?</p>
		</div>
        <hr>
        <div class="content">
          <p>We do not currently have a brick &amp; mortar shop&mdash;but check our list of 
            <a href="https://abbey-park-dev-store.myshopify.com/pages/stockists">stockists</a>
            <!-- NEW LINK AT LAUNCH
			<a href="https://abbeypark.shop/pages/stockists">stockists</a>
			-->
            , as some small businesses in BC carry a selection of our pieces!</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>Do you offer local pickup?</p>
		</div>
        <hr>
        <div class="content">
          <p>Unfortunately, our studio is not set up for local pickup at this time.</p>
        </div>
      </div>
      
      <div class="container">
        <div class="label">
          <p>Do you sell wholesale?</p>
		</div>
        <hr>
        <div class="content">
          <p>Yes! Read more details and get in touch with us on our 
            <a href="https://abbey-park-dev-store.myshopify.com/pages/wholesale">wholesale page</a>
            <!-- NEW LINK AT LAUNCH
			<a href="https://abbeypark.shop/pages/wholesale">wholesale page</a>
			-->
          	if you're interested in carrying our jewelry.</p>
        </div>
      </div>
      
   </div>
  </div>
  
</div>

<!-- SHOW ACCORDION CONTENT ON CLICK -->
<script>
  const accordion = document.getElementsByClassName('container');
  
  for (let i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener('click', function() {
    	this.classList.toggle('active');
    });
  };
</script>

<!-- COPY/PASTE FOR EACH ACCORDION ITEM
      <div class="container">
        <div class="label">
			Question or topic text
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
END COPY/PASTE -->

{% style %}

.necklace-chart {
	border: 1px solid;
  	border-color: rgb(51 51 51 / 10%);
	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%);
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

{% endstyle %}