{{ 'page-info.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<div class="wrapper--sidebar-info">
  <div class="sidebar--navigation-links">
    <a href="https://abbeypark.shop/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbeypark.shop/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbeypark.shop/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns & Exchanges</a> <br>
    <a href="https://abbeypark.shop/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbeypark.shop/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbeypark.shop/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbeypark.shop/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbeypark.shop/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbeypark.shop/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbeypark.shop/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
  </div>
  <div class="main--accordion-info">
    <div class="heading--info-title">
    	<h1 class="heading--info">Shipping &amp; Delivery</h1>
    </div>
    <div class="accordion--menu">
    
      <!-- Canada --> 
      <div class="container">
        <div class="label">Canada</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      <!-- United States -->
      <div class="container">
        <div class="label">United States</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      <!-- International -->
      <div class="container">
        <div class="label">International</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
    	
      
    </div>
  </div>
</div>

<script>
  const accordion = document.getElementsByClassName('container');
  
  for (let i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener('click', function() {
    	this.classList.toggle('active');
    });
  };
</script>