{{ 'page-info.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<div class="wrapper--sidebar-info">
  <div class="sidebar--navigation-links">
    <a href=""><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="">Shipping</a> <br>
    <a href="">Returns & Exchanges</a> <br>
    <a href="">Repairs</a> <br>
    <a href="">Custom Request</a> <br>
    <a href="">Size Guide</a> <br>
    <a href="">Care Guide</a> <br>
    <a href="">Stockists</a> <br>
    <a href="">Wholesale</a> <br>
    <a href="">Contact Us</a> <br>
  </div>
  <div class="main--accordion-info">
    <div class="heading--info-title">
    	<h1 class="heading--info">Info Page Heading</h1>
    </div>
    <div class="accordion--menu">
    
      <!-- copy paste below for each accordion item --> 
      <div class="container">
        <div class="label">Question or topic text</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      <!-- copy paste above for each accordion item -->
      <div class="container">
        <div class="label">Question or topic text</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
    	
      
    </div>
  </div>
</div>

<script>
  const accordion = document.getElementsByClassName('container');
  
  for (let i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener('click', function() {
    	this.classList.toggle('active');
    });
  };
</script>