{{ 'page-info.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<div class="wrapper--sidebar-info">
  
  <!-- SIDEBAR NAVIGATION -->
  <div class="sidebar--navigation-links">
    <a href="https://abbey-park-dev-store.myshopify.com/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
    
    <!-- LINKS AFTER LAUNCH
    <a href="https://abbeypark.shop/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbeypark.shop/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbeypark.shop/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbeypark.shop/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbeypark.shop/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbeypark.shop/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbeypark.shop/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbeypark.shop/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbeypark.shop/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbeypark.shop/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
	-->
  </div>
  
  <!-- ACCORDION -->
  <div class="main--accordion-info">
    <div class="heading--info-title">
    	<h1 class="heading--info">Frequently Asked Questions</h1>
    </div>
    <div class="accordion--menu">
      <!-- ORDERS & SHIPPING --> 
      <div class="container">
        <div class="label">
          Where are you located?
        </div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
          What payment methods do you accept?
        </div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
          Can I cancel my order?
        </div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			When will my order arrive?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			Where do you ship?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			Will I be charged import duties or VAT?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <!-- RETURNS & EXCHANGES -->
      <div class="container">
        <div class="label">
			Do you accept returns?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			Can I exchange my item?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			When will I receive my refund?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <!-- WARRANTY & REPAIRS -->
      <div class="container">
        <div class="label">
			Our 6-Month Free Repair Warranty
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			How do I request a repair?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <!-- CUSTOM REQUESTS -->
      <div class="container">
        <div class="label">
			Can you engrave custom constellations or other designs?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <!-- SIZING GUIDE -->
      <div class="container">
        <div class="label">
			How do I find my ring size?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			How do I find my bracelet size?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			Which necklace length should I choose?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <!-- METALS & MATERIALS -->
      <div class="container">
        <div class="label">
			Is your jewelry nickel-free?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			What metals are used to make your jewelry?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			What is 14K gold filled?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			How should I care for my jewelry?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <!-- STOCKISTS & LOCAL PICKUP -->
      <div class="container">
        <div class="label">
			Do you have a storefront?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			Do you offer local pickup?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
      <div class="container">
        <div class="label">
			Do you sell wholesale?
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
      
   </div>
  </div>
  
</div>

<!-- SHOW ACCORDION CONTENT ON CLICK -->
<script>
  const accordion = document.getElementsByClassName('container');
  
  for (let i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener('click', function() {
    	this.classList.toggle('active');
    });
  };
</script>

<!-- COPY/PASTE FOR EACH ACCORDION ITEM
      <div class="container">
        <div class="label">
			Question or topic text
		</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
END COPY/PASTE -->