{{ 'page-info.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<div class="wrapper--info-content">
  <div class="sidebar--info-links">
  </div>
  <div class="accordion--info-content">
    {{ page.content }}
  </div>
</div>