{{ 'page-info.css' | asset_url | stylesheet_tag }}

{% section 'image-banner' %}

<div class="wrapper--sidebar-info">
  
  <!-- SIDEBAR NAVIGATION -->
  <div class="sidebar--navigation-links">
    <a href="https://abbey-park-dev-store.myshopify.com/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbey-park-dev-store.myshopify.com/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
    
     <!-- LINKS AFTER LAUNCH
    <a href="https://abbeypark.shop/pages/faqs"><span data-content="FAQs" aria-hidden="true"></span>FAQs</a> <br>
    <a href="https://abbeypark.shop/pages/shipping-delivery"><span data-content="Shipping" aria-hidden="true"></span>Shipping</a> <br>
    <a href="https://abbeypark.shop/pages/returns-exchanges"><span data-content="Returns & Exchanges" aria-hidden="true"></span>Returns &amp; Exchanges</a> <br>
    <a href="https://abbeypark.shop/pages/repairs"><span data-content="Repairs" aria-hidden="true"></span>Repairs</a> <br>
    <a href="https://abbeypark.shop/pages/custom-request"><span data-content="Custom Request" aria-hidden="true"></span>Custom Request</a> <br>
    <a href="https://abbeypark.shop/pages/size-guide"><span data-content="Size Guide" aria-hidden="true"></span>Size Guide</a> <br>
    <a href="https://abbeypark.shop/pages/care-guide"><span data-content="Care Guide" aria-hidden="true"></span>Care Guide</a> <br>
    <a href="https://abbeypark.shop/pages/stockists"><span data-content="Stockists" aria-hidden="true"></span>Stockists</a> <br>
    <a href="https://abbeypark.shop/pages/wholesale"><span data-content="Wholesale" aria-hidden="true"></span>Wholesale</a> <br>
    <a href="https://abbeypark.shop/pages/contact"><span data-content="Contact Us" aria-hidden="true"></span>Contact Us</a> <br>
	-->
  </div>
  
  <!-- ACCORDION -->
  <div class="main--accordion-info">
    <div class="heading--info-title">
    	<h1 class="heading--info">Returns &amp; Exchanges</h1>
    </div>
    <div class="accordion--menu">
    	<!-- ITEM CONDITION INFO -->
    	<h2>Item Condition</h2>
    	<p>
      		We accept returns and exchanges on all pieces&mdash;including personalized jewelry! All returned or 
      		exchanged items must be in their original unworn condition and include the packaging.
    	</p>
      <!-- US CANADA ORDERS -->
      <div class="container">
        <div class="label">US &amp; Canada Orders</div>
        <hr>
        <div class="content">
          <p>Free returns and exchanges within 30 days of delivery. Note that any original shipping costs 
            (for rush shipping, for example) are nonrefundable and will be deducted from your total refund.</p>
        </div>
      </div>
      <!-- INTERNATIONAL ORDERS -->
      <div class="container">
        <div class="label">International Orders</div>
        <hr>
        <div class="content">
          <p>Returns and exchanges are accepted within 30 days of delivery. Note that any original shipping 
            fees are nonrefundable and will be deducted from your total refund. International customers are 
            responsible for the cost of return shipping (as well as the cost of re-shipping, in the case of 
            an exchange).</p>
        </div>
      </div> 
      
      <!-- RETURNS & EXCHANGES FORM -->
      {% form 'contact' %}
      <div class="return-request-form">
      	<!-- First Name -->
        
      	<div class="first-name">
      		<label for="firstName" class="required">First Name</label>
      		<input type="text" 
                   name="firstName" 
                   id="firstName" 
                   autocomplete="on"
                   required="required">
      </div>
      
      	<!-- Last Name -->
      	<div class="last-name">
      	<label for="lastName" class="required">Last Name</label>
      	<input type="text"
               name="lastName"
               id="lastName"
               autocomplete="on"
               required="required">
      </div>
      
      	<!-- Email -->
      	<div class="customer-email">
      	<label for="customerEmail" class="required">Email</label>
      	<input type="email"
               name="customerEmail"
               id="customerEmail"
               autocomplete="on"
               required="required">
      </div>
      
      	<!-- Order Number -->
      <div class="order-number">
      	<label for="orderNumber" class="required">Order Number</label>
      	<input type="text"
               name="orderNumber"
               id="orderNumber"
               required="required">
      </div>
      
      	<!-- Return Or Exchange -->
      <div class="return-exchange"> 
        <label for="return-exchange" class="required return-type">Type of Return</label>
       
        <div class="return-radio">
      		<input type="radio" 
                   name="returnExchange"
                   id="return" 
                   value="Return" 
                   checked="checked"> 
      		<label for="return" class="radio-label">Return</label>
        </div>
        
        <div class="exchange-radio">
      		<input type="radio"
                   name="returnExchange"
                   id="exchange"
                   value="Exchange">
      		<label for="exchange" class="radio-label">Exchange</label>
        </div>
      </div>
      
      	<!-- Message -->
      <div class="message">
      	<label>Message</label>
      	<textarea name="message"
                  id="message"></textarea>
      </div>
      
      	<!-- Submit Button -->
      <div class="submit-button">
      	<input type="submit"
               value="Submit"
               class="submit-form-button">
      </div>
      </div>
      
      {% endform %}
      
   </div>
  </div>
  
</div>

<!-- SHOW ACCORDION CONTENT ON CLICK -->
<script>
  const accordionLabel = document.getElementsByClassName('label');
  
  for (let i = 0; i < accordionLabel.length; i++) {
    accordionLabel[i].addEventListener('click', function() {
    	this.parentNode.classList.toggle('active');
    });
  };
</script>

<!-- COPY/PASTE FOR EACH ACCORDION ITEM
      <div class="container">
        <div class="label">Question or topic text</div>
        <hr>
        <div class="content">Information, charts, photos, text</div>
      </div>
END COPY/PASTE -->

{% style %}

.return-request-form {
	display: grid;
	grid-template-areas:
		"first"
		"last"
		"email"
		"order"
		"radio"
		"message"
		"submit";	
	row-gap: 20px;
	margin-top: 30px;
}

.return-request-form label:not(.radio-label) {
	display: block;
	font-family: 'Assistant', sans-serif;
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 4px;
	color: #666;
	line-height: 2rem;
}

.return-request-form label.required:after {
	content: " *";
	font-size: 2rem;
	vertical-align: middle;
	color: #cc9a9b;
}

.radio-label {
	font-family: 'Assistant', sans-serif;
	font-size: 1.45rem;
}

.first-name {
	grid-area: first;
}

.last-name {
	grid-area: last;
}

form input[type=text], form input[type=email], form textarea {
	width: 400px;
    border-top: 1px solid rgba(47, 79, 79, 0.15);
    border-left: 1px solid rgba(47, 79, 79, 0.15);
    border-right: 1px solid rgba(47, 79, 79, 0.15);
    border-bottom: 2px solid rgba(47, 79, 79, 0.15);
    box-sizing: border-box;
    padding: 9px 12px;
	font-size: 1.45rem;
	font-family: 'Assistant', sans-serif;
} 

form input[type=text]:focus, form input[type=email]:focus, form textarea:focus {
	outline: none;
	box-shadow: 1px 3px 6px rgb(51 51 51 / 10%);
	border-bottom: 2px solid rgba(47, 79, 79, 0.5);
	transition: 0.3s ease-in;	
}

.customer-email {
	grid-area: email;
}

.order-number {
	grid-area: order;
}

.return-exchange {
	grid-area: radio;
	display: grid;
	grid-template-areas: 
		"label"
		"return"
		"exchange";
}

.return-type {
	grid-area: label;
}

.return-radio {
	grid-area: return;
}

.exchange-radio {
	grid-area: exchange;
}

.message {
	grid-area: message;
}

.submit-button {
	grid-area: submit;
}

.submit-form-button {
  	color: rgba(47, 79, 79, 0.8);
  	font-weight: 600;
  	font-size: 1.3rem;
  	text-decoration: none;
  	text-transform: uppercase;
  	box-sizing: border-box;
	background-color: transparent;
  	border: 1px solid;
  	border-color: rgba(47, 79, 79, 0.8);
  	padding: 12px 20px;
    letter-spacing: inherit;
	margin-top: 10px;
    margin-bottom: 30px;
}

.submit-form-button:hover {
  	background-color: rgba(47, 79, 79, 0.8);
  	border-color: transparent;
  	color: #fff;
}

{% endstyle %}